/** Always set the map height explicitly to define the size of the div
       * element that contains the map. */

      
      .brand {
        /* position: absolute; */
        left: 50%;
        margin-left: -50px !important;
        display: block;
        background-color: aquamarine;
    }

      /** Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
      }

      /**
      * Container    */
      #container {

       height: auto;
       width: auto;
        display: flex;
        justify-content: left;
        align-items: flex-start;
        flex-direction: row;
      }

      #map{
          height: 35vh;
          width: 25vw;
          background-color: aliceblue;
      }

      .contact_form{
        padding: 0;
      }
